@media screen and (min-width: 300px) and (max-width: 700px) {
  #container {
    height: 100vh;
  }

  .setDateBox {
    position: absolute;
    top: 0;
    left: 50%;
  }

  #dateInput {
    height: 2rem;
    width: 100%;
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding-left: 1rem;
  }

  .content {
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
  }
}