@media screen and (min-width: 300px) and (max-width: 700px) {
  #container {
    height: 90vh;
  }

  .setDateBox {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  #dateInput {
    height: 3rem;
    width: 20rem;
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding-left: 1rem;
  }

  .content {
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
  }

  .star {
    position: absolute;
    bottom: 40%;
    transform: translateY(50%);
  }

  .hill {
    position: absolute;
    bottom: 0;
  }

  #days::after,
  #hours::after,
  #minutes::after,
  #seconds::after {
    font-size: 1rem;
    bottom: -20px;
  }

}