@media screen and (min-width: 300px) and (max-width: 700px) {
  #container {
    height: 90vh;
  }

  .setDateBox {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  #dateInput {
    height: 3.5rem;
    width: 20rem;
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding-left: 1rem;
  }

  .topCard,
  .bottomCard {
    height: 3.8rem;
    width: 6.4rem;
  }

  .content {
    font-size: 2rem;
  }

  .star {
    position: absolute;
    bottom: 40%;
    transform: translateY(50%);
  }

  .hill {
    position: absolute;
    bottom: 0;
  }

  .cardsBox:nth-child(1)::after,
  .cardsBox:nth-child(2)::after,
  .cardsBox:nth-child(3)::after,
  .cardsBox:nth-child(4)::after {
    font-size: 1rem;
    bottom: -30px;
  }

}