* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Grayishblue: hsl(237, 18%, 59%);
  --Softred: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Darkdesaturatedblue: hsl(236, 21%, 26%);
  --Verydarkblue: hsl(235, 16%, 14%);
  --Verydark: hsl(234, 17%, 12%)
}

html {
  font-size: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: "Red Hat Text", 'Segoe UI', Tahoma, sans-serif;
}

#container {
  background-color: var(--Darkdesaturatedblue);
  /* height: 100%; */
  position: relative;
}

.star {
  object-fit: cover;
  width: 100%;
  object-position: center;
}

.hill {
  object-fit: contain;
  width: 100%;
  object-position: center;
}

.setDateBox {
  position: absolute;
  top: 20rem;
  left: 50%;
  transform: translateX(-50%);
}

#dateInput {
  height: 5rem;
  width: 50rem;
  font-size: 2rem;
  letter-spacing: 4px;
  padding-left: 1rem;
}

#dateInput::placeholder {
  font-style: italic;
}

#dateInput:focus {
  outline: none;
  border: 2px solid var(--Verydarkblue);
}

.mainContentBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.content {
  background-color: transparent;
  font-size: 4.6rem;
  color: var(--Softred);
  position: absolute;
}

.cardsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.topCard,
.bottomCard {
  height: 5rem;
  width: 12rem;
  background-color: var(--Verydark);
  margin: 0 1rem;
  border-radius: 1rem;
  box-shadow: 0 .5rem hsl(234, 17%, 12%);
  overflow: hidden;
}

.cardsBox:nth-child(1)::after {
  content: "Days";
}

.cardsBox:nth-child(2)::after {
  content: "Hours";
}

.cardsBox:nth-child(3)::after {
  content: "Minutes";
}

.cardsBox:nth-child(4)::after {
  content: "Seconds";
}

.cardsBox:nth-child(1)::after,
.cardsBox:nth-child(2)::after,
.cardsBox:nth-child(3)::after,
.cardsBox:nth-child(4)::after {
  font-size: 1.6rem;
  color: var(--White);
  letter-spacing: 2px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}